<h1 style="text-align: center;">Please enter your info for each field</h1>
<form id="createUserForm" method="post" action="/signup">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="fname" placeholder="First Name">
	<input type="text" name="lname" placeholder="Last Name">
	<input type="text" name="email" placeholder="Email">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" id="createUserSubmit" value="Create User">

</form>